In [2]:
!cat examples/ex1.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

cat: examples/ex1.csv: No such file or directory

NameError: name 'a' is not defined

In [4]:
import pandas as pd
df = pd.read_csv('Desktop/test1.csv')

In [5]:
df

    dateid\tcity_id\tcity_name\tregion\ttotal_show\tdateid\tcity_id\ttotal_kc_order\ttotal_yx_order\ttotal_zc_order\ttotal_anycar_order\ttotal_unionone_order\ttotal_kc_ans_order\ttotal_yx_ans_order\ttotal_zc_ans_order\ttotal_anycar_ans_order\ttotal_unionone_ans_order\tcancel_before_ans_kc_order\tcancel_before_ans_yx_order\tcancel_before_ans_zc_order\tcancel_before_ans_anycar_order\tcancel_before_ans_unionone_order\tcancel_aft_ans_kc_order\tcancel_aft_ans_yx_order\tcancel_aft_ans_zc_order\tcancel_aft_ans_anycar_order\tcancel_aft_ans_unionone_order\tfinish_kc_order\tfinish_yx_order\tfinish_zc_order\tfinish_anycar_order\tfinish_unionone_order
0    2018-04-01\t1\t北京市\t京津冀深蒙\t39165\t2018-04-01\t...
1    2018-04-01\t10\t西安市\t陕鄂桂\t6993\t2018-04-01\t10...
2    2018-04-01\t11\t南京市\t苏沪\t7791\t2018-04-01\t11\...
3    2018-04-01\t12\t济南市\t晋鲁\t2786\t2018-04-01\t12\...
4    2018-04-01\t13\t青岛市\t晋鲁\t8269\t2018-04-01\t13\...
5    2018-04-01\t14\t大连市\t东三省\t5747\t2018-04-01\t14...
6    2018-04-01\t15\t合肥市\t浙皖豫\t5680\t2018-04-01\t15...
7    2018-04-01\t16\t哈尔滨市\t东三省\t5007\t2018-04-01\t1...
8    2018-04-01\t17\t成都市\t川渝云贵\t27186\t2018-04-01\t...
9    2018-04-01\t18\t重庆市\t川渝云贵\t4498\t2018-04-01\t1...
10   2018-04-01\t19\t昆明市\t川渝云贵\t5289\t2018-04-01\t1...
11   2018-04-01\t2\t深圳市\t京津冀深蒙\t9258\t2018-04-01\t2...
12   2018-04-01\t20\t宁波市\t浙皖豫\t4663\t2018-04-01\t20...
13   2018-04-01\t21\t东莞市\t京津冀深蒙\t1993\t2018-04-01\t...
14   2018-04-01\t22\t石家庄市\t京津冀深蒙\t2832\t2018-04-01\...
15   2018-04-01\t23\t苏州市\t苏沪\t11802\t2018-04-01\t23...
16   2018-04-01\t24\t长沙市\t粤西海南湖南\t8314\t2018-04-01\...
17   2018-04-01\t25\t长春市\t东三省\t3059\t2018-04-01\t25...
18   2018-04-01\t26\t太原市\t晋鲁\t3192\t2018-04-01\t26\...
19   2018-04-01\t29\t烟台市\t晋鲁\t21\t2018-04-01\t29\t1...
20   2018-04-01\t3\t广州市\t粤西海南湖南\t10170\t2018-04-01\...
21   2018-04-01\t32\t厦门市\t福建江西\t5835\t2018-04-01\t3...
22   2018-04-01\t33\t南宁市\t陕鄂桂\t1982\t2018-04-01\t33...
23   2018-04-01\t34\t福州市\t福建江西\t7725\t2018-04-01\t3...
24   2018-04-01\t35\t泉州市\t福建江西\t2167\t2018-04-01\t3...
25   2018-04-01\t36\t佛山市\t粤西海南湖南\t371\t2018-04-01\t...
26   2018-04-01\t37\t三亚市\t粤西海南湖南\t244\t2018-04-01\t...
27   2018-04-01\t38\t南昌市\t福建江西\t2068\t2018-04-01\t3...
28   2018-04-01\t4\t上海市\t苏沪\t19700\t2018-04-01\t4\t...
29   2018-04-01\t45\t常州市\t苏沪\t2144\t2018-04-01\t45\...
..                                                 ...
411  2018-04-11\t19\t昆明市\t川渝云贵\t5342\t2018-04-11\t1...
412  2018-04-11\t2\t深圳市\t京津冀深蒙\t32303\t2018-04-11\t...
413  2018-04-11\t20\t宁波市\t浙皖豫\t4996\t2018-04-11\t20...
414  2018-04-11\t21\t东莞市\t京津冀深蒙\t8456\t2018-04-11\t...
415  2018-04-11\t22\t石家庄市\t京津冀深蒙\t3964\t2018-04-11\...
416  2018-04-11\t23\t苏州市\t苏沪\t10919\t2018-04-11\t23...
417  2018-04-11\t24\t长沙市\t粤西海南湖南\t4157\t2018-04-11\...
418  2018-04-11\t25\t长春市\t东三省\t3515\t2018-04-11\t25...
419  2018-04-11\t26\t太原市\t晋鲁\t3404\t2018-04-11\t26\...
420  2018-04-11\t29\t烟台市\t晋鲁\t766\t2018-04-11\t29\t...
421  2018-04-11\t3\t广州市\t粤西海南湖南\t8856\t2018-04-11\t...
422  2018-04-11\t32\t厦门市\t福建江西\t4514\t2018-04-11\t3...
423  2018-04-11\t33\t南宁市\t陕鄂桂\t2770\t2018-04-11\t33...
424  2018-04-11\t34\t福州市\t福建江西\t4988\t2018-04-11\t3...
425  2018-04-11\t35\t泉州市\t福建江西\t3980\t2018-04-11\t3...
426  2018-04-11\t36\t佛山市\t粤西海南湖南\t1261\t2018-04-11\...
427  2018-04-11\t37\t三亚市\t粤西海南湖南\t800\t2018-04-11\t...
428  2018-04-11\t38\t南昌市\t福建江西\t2759\t2018-04-11\t3...
429  2018-04-11\t4\t上海市\t苏沪\t4770\t2018-04-11\t4\t3...
430  2018-04-11\t45\t常州市\t苏沪\t3702\t2018-04-11\t45\...
431  2018-04-11\t47\t无锡市\t苏沪\t3523\t2018-04-11\t47\...
432  2018-04-11\t5\t杭州市\t浙皖豫\t16905\t2018-04-11\t5\...
433  2018-04-11\t6\t武汉市\t陕鄂桂\t8238\t2018-04-11\t6\t...
434  2018-04-11\t7\t天津市\t京津冀深蒙\t17917\t2018-04-11\t...
435  2018-04-11\t8\t沈阳市\t东三省\t4924\t2018-04-11\t8\t...
436  2018-04-11\t84\t珠海市\t粤西海南湖南\t3428\t2018-04-11\...
437  2018-04-11\t85\t温州市\t浙皖豫\t4131\t2018-04-11\t85...
438  2018-04-11\t86\t金华市\t浙皖豫\t3325\t2018-04-11\t86...
439  2018-04-11\t89\t绍兴市\t浙皖豫\t1729\t2018-04-11\t89...
440  2018-04-11\t9\t郑州市\t浙皖豫\t5145\t2018-04-11\t9\t...

[441 rows x 1 columns]

In [7]:
df = pd.read_csv('Desktop/ex1.csv')

In [8]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_table('Desktop/ex1.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_csv('Desktop/ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('Desktop/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a', 'b', 'c', 'd', 'message']

In [14]:
pd.read_csv('Desktop/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
parsed = pd.read_csv('Desktop/csv_mindex.csv', index_col = ['key1', 'key2'])

In [18]:
parsed

              value1  value2
key1    key2
    one a          1       2
        b          3       4
        c          5       6
        d          7       8
    two a          9      10
        b         11      12
        c         13      14
        d         15      16

In [20]:
pd.read_csv('Desktop/ex4.csv',skiprows=[0,2,3])

      a,b,c,d,message
0      1,2,3,4,hello
1       5,6,7,8,world
2      9,10,11,12,foo

In [21]:
result = pd.read_csv('Desktop/ex5.csv')

In [22]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [24]:
result = pd.read_csv('Desktop/ex5.csv', na_values=['NULL'])

In [25]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [26]:
sentinels = {'message':['foo', 'NA'], 'something':['two']}

In [27]:
pd.read_csv('Desktop/ex5.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [28]:
pd.read_csv('Desktop/ex5.csv', na_values=0)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
pd.options.display.max_rows = 10

In [30]:
result = pd.read_csv('Desktop/ex5.csv')

In [31]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [32]:
pd.read_csv('Desktop/ex5.csv', nrows=2)

  something  a  b    c  d message
0       one  1  2  3.0  4     NaN
1       two  5  6  NaN  8   world

In [40]:
chunker = pd.read_csv('Desktop/ex5.csv', chunksize=1000)

In [41]:
chunker

In [42]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['something'].value_counts(), fill_value = 0)
tot = tot.sort_values(ascending=False)

In [45]:
tot[:10]

two      13.0
one       4.0
three     1.0
dtype: float64

In [46]:
data = pd.read_csv('Desktop/ex5.csv')

In [47]:
data

   something  a   b     c   d message
0        one  1   2   3.0   4     NaN
1        two  5   6   NaN   8   world
2      three  9  10  11.0  12     foo
3        one  1   2   3.0   4     NaN
4        one  1   2   3.0   4     NaN
..       ... ..  ..   ...  ..     ...
13       two  5   6   NaN   8   world
14       two  5   6   NaN   8   world
15       two  5   6   NaN   8   world
16       two  5   6   NaN   8   world
17       two  5   6   NaN   8   world

[18 rows x 6 columns]

In [49]:
data.to_csv('Desktop/Python/out.csv')

In [50]:
import sys

In [51]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
3|one|1|2|3.0|4|
4|one|1|2|3.0|4|
5|one|1|2|3.0|4|
6|two|5|6||8|world
7|two|5|6||8|world
8|two|5|6||8|world
9|two|5|6||8|world
10|two|5|6||8|world
11|two|5|6||8|world
12|two|5|6||8|world
13|two|5|6||8|world
14|two|5|6||8|world
15|two|5|6||8|world
16|two|5|6||8|world
17|two|5|6||8|world

In [52]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
3,one,1,2,3.0,4,NULL
4,one,1,2,3.0,4,NULL
5,one,1,2,3.0,4,NULL
6,two,5,6,NULL,8,world
7,two,5,6,NULL,8,world
8,two,5,6,NULL,8,world
9,two,5,6,NULL,8,world
10,two,5,6,NULL,8,world
11,two,5,6,NULL,8,world
12,two,5,6,NULL,8,world
13,two,5,6,NULL,8,world
14,two,5,6,NULL,8,world
15,two,5,6,NULL,8,world
16,two,5,6,NULL,8,world
17,two,5,6,NULL,8,world

In [53]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo
one,1,2,3.0,4,
one,1,2,3.0,4,
one,1,2,3.0,4,
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world
two,5,6,,8,world

In [54]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0
1,2,3.0
1,2,3.0
1,2,3.0
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,
5,6,

In [57]:
dates = pd.date_range('1/1/2000', periods=7)

In [58]:
import numpy as np
ts = pd.Series(np.arange(7), index=dates)

In [60]:
ts.to_csv('Desktop/Python/tseries.csv')

In [61]:
data1 = pd.read_csv('Desktop/Python/tseries.csv')

In [62]:
data1

   2000-01-01  0
0  2000-01-02  1
1  2000-01-03  2
2  2000-01-04  3
3  2000-01-05  4
4  2000-01-06  5
5  2000-01-07  6

In [113]:
import csv
f = open('Desktop/ex7.csv')

In [80]:
reader = csv.reader(f)

In [83]:
for line in reader:
    print(line)

In [98]:
with open('Desktop/ex7.csv') as f:
    lines = list(csv.reader(f))

In [99]:
header, values = lines[0], lines[1:]

In [100]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [101]:
data_dict

{'"b"': ('"2"', '"2"'), '"c"': ('"3"', '"3"'), '\ufeff"""a"""': ('"1"', '"1"')}

In [106]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f, dialect=my_dialect)

In [115]:
for line in reader:
    print(line)

In [116]:
reader = csv.reader(f, delimiter = '|')

In [117]:
for line in reader:
    print(line)e

['\ufeff"""a""","""b""","""c"""']
['"1","""2""","""3"""']
['"1","""2""","""3"""']

In [118]:
obj = """
    {"name": "Wes",
     "places_lived": ["United States", "Spain", "Germany"],
     "pet": null,
     "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                  {"name": "Katie", "age": 38,
                   "pets": ["Sixes", "Stache", "Cisco"]}]
} """

In [120]:
import json
result = json.loads(obj)

In [121]:
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [122]:
asjson = json.dumps(result)

In [123]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [124]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [21]:
import pandas as pd
import numpy as np

In [22]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [23]:
store = pd.HDFStore('mydata.h5')

In [24]:
store['obj1'] = frame

In [25]:
store['obj1_col'] = frame['a']

In [26]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [27]:
store['obj1']

           a
0   1.303914
1  -0.300730
2  -0.391571
3  -0.088660
4   1.227040
5   0.009470
6   0.850945
7   1.584593
8  -2.906112
9  -0.677173
10 -0.009424
11 -1.105409
12  0.623259
13  0.851652
14 -1.356986
15  0.786874
16 -0.326528
17  0.151208
18 -0.061750
19 -1.393685
20  0.640559
21  0.890356
22  0.042592
23  0.554521
24 -0.206071
25  0.193366
26 -0.768396
27 -0.949929
28 -1.729271
29  0.871609
..       ...
70  0.209604
71  0.294444
72 -0.598280
73  2.481313
74 -0.119814
75  0.035651
76 -0.648538
77 -0.627186
78  0.763364
79 -0.293186
80 -1.086371
81 -1.893210
82 -0.182968
83 -0.885260
84 -1.314990
85  0.473431
86 -0.302314
87 -0.265257
88  0.660312
89 -0.234194
90  0.665329
91  1.579202
92  1.054988
93 -0.492589
94  0.034199
95  0.851142
96  1.268021
97  0.622971
98  1.004419
99  0.974351

[100 rows x 1 columns]

In [28]:
store.put('obj2', frame, format='table')

In [29]:
store.select('obj2', where=['index>=10 and index<=15'])

           a
10 -0.009424
11 -1.105409
12  0.623259
13  0.851652
14 -1.356986
15  0.786874

In [30]:
import requests

In [39]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [40]:
resp = requests.get(url)

In [41]:
resp

In [42]:
data = resp.json()

In [50]:
data[0]['title']

'Surprising and inconsistent results when adding two `Series` which both contain duplicate labels.'

In [45]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                    'labels', 'state'])

In [47]:
issues

,number,title,labels,state
0,20831,Surprising and inconsistent results when addin...,[],open
1,20830,[WIP] Debug R doc build failure,"[{'id': 134699, 'url': 'https://api.github.com...",open
2,20829,Timedelta always returning False for equality ...,[],open
3,20828,Pandas object datatype strange behavior,[],open
4,20826,Fixed read_csv with CategoricalDtype with bool...,"[{'id': 78527356, 'url': 'https://api.github.c...",open
5,20825,BUG: Series.combine() fails with ExtensionArra...,"[{'id': 849023693, 'url': 'https://api.github....",open
6,20824,DataFrame.groupby().sum() treating Nan as 0.0,"[{'id': 233160, 'url': 'https://api.github.com...",open
7,20821,Share whitelist of apply / transform methods,"[{'id': 233160, 'url': 'https://api.github.com...",open
8,20820,Established Standards for Tests,[],open
9,20818,Timestamp.to_period() is off-by-one for weekly...,[],open
10,20816,pd.concat fails if given repeated keys,[],open
11,20814,ExtensionArray.take default implementation,"[{'id': 849023693, 'url': 'https://api.github....",open
12,20813,CLN: Continued indexes/test_base.py cleanup,"[{'id': 2822098, 'url': 'https://api.github.co...",open
13,20812,TST: Cleanup tests/indexes/test_base.py,"[{'id': 211029535, 'url': 'https://api.github....",open
14,20810,BUG: inconsistent state of DatetimeIndex._data,"[{'id': 76811, 'url': 'https://api.github.com/...",open
15,20809,Index union sort hack,"[{'id': 49747336, 'url': 'https://api.github.c...",open
16,20808,`date_range` not working as it intuitively sho...,"[{'id': 35818298, 'url': 'https://api.github.c...",open
17,20807,A map method to work with many columns,"[{'id': 35818298, 'url': 'https://api.github.c...",open
18,20806,BUG: DataFrame.from_records with empty rec array,"[{'id': 31404521, 'url': 'https://api.github.c...",open
19,20805,DataFrame.from_records lose dtype info on empt...,"[{'id': 76865106, 'url': 'https://api.github.c...",open
20,20803,High Memory Usage when Concatenating Partially...,[],open
21,20802,DEPR: Warn on empty Series dtype inference,"[{'id': 35818298, 'url': 'https://api.github.c...",open
22,20796,ENH: Implemented lazy iteration,"[{'id': 8935311, 'url': 'https://api.github.co...",open
23,20791,Surprising type conversion when iterating,"[{'id': 31404521, 'url': 'https://api.github.c...",open
24,20789,DEPR: removed long deprecated input param 'axi...,[],open
25,20787,DOC: clean Index.set_name / .rename doc-strings,"[{'id': 134699, 'url': 'https://api.github.com...",open
26,20784,ENH GH20601 raise error when pivot table's num...,"[{'id': 42670965, 'url': 'https://api.github.c...",open
27,20783,Make itertuples really an iterator/generator i...,"[{'id': 195647922, 'url': 'https://api.github....",open
28,20779,ENH: Implement mode(dropna=False),"[{'id': 76812, 'url': 'https://api.github.com/...",open
29,20777,BUG: Fix KeyError in merge on CategoricalIndex,"[{'id': 76811, 'url': 'https://api.github.com/...",open

In [51]:
import sqlite3

In [52]:
query = """
       .....: CREATE TABLE test
       .....: (a VARCHAR(20), b VARCHAR(20),
       .....:  c REAL,        d INTEGER
       .....: );"""

In [53]:
con = sqlite3.connect('mydata.sqlite')

In [54]:
con.execute(query)

In [55]:
con.commit()

In [56]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       .....:         ('Tallahassee', 'Florida', 2.6, 3),
       .....:         ('Sacramento', 'California', 1.7, 5)]

In [57]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [58]:
con.executemany(stmt,data)

In [59]:
con.commit()

In [60]:
cursor = con.execute('select * from test')

In [61]:
rows = cursor.fetchall()

In [62]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [63]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [64]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [65]:
import sqlalchemy as sqla

In [66]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [67]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5